{% extends "base.html" %}
{% load url from future %}


{% block content %}


{% if anonreg_form.errors %}
    <div class="txterror">Hubo errores de validación.</div>
{% endif %}

<script type="text/javascript">
    $(function() {
        $( ".datePicker" ).datepicker({
			numberOfMonths: 2,
			showButtonPanel: true,
                        dateFormat: 'dd/mm/yy',
                        changeMonth: true,
			changeYear: true
		});
    });
</script>

<p>Danos los datos que quieras, deja en blanco el resto. Tu sesion estara activa mientras no cierres el sitio.</p>

    <form method="post" action="{% url 'recomendana_prof.views.anonregister' %}">
    {% csrf_token %}
    <ul>
        {% for field in anonreg_form %}
            <li>
               <div class="fieldset">{{ field.label_tag }}:</div> <div class="optionset"> {{ field }} </div>
               {% if field.errors %}
                   <span class="txterror">{{field.errors.as_text}} </span>
               {% endif %}
            </li>
        {% endfor %}
    </ul>
    
    
    <input type="submit" value="register" />
    <input type="hidden" name="next" value="/" />
    </form>

{% endblock %}