{% extends "index.html" %}

{% load lookup  %}
{% load url from future %}
{% block voting %}


    <div style='text-align:left;'>
        <form name="formBuscar" id="formBuscar" action='' method='GET'>
        <p>Buscar pel&iacute;cula:</p>
        {% if search_msg != None %}  <span class="txterror">{{search_msg}}</span> {% endif %}
        <p>
            <input type='text' name='query' style='width:300px;' value='{% if query_value != None %}{{ query_value }}{% endif %}'><input type='submit' value='Buscar'>
        </p>
        </form>
    </div>


    <form action="{% url 'recomendana_prof.views.voting' %}" method='POST'>
        
    <div style='float:right; display:block;'><input type='submit' value='Votar y 5 m&aacute;s'></div><br/><br/>
    
    {% for m in movies %}
    
    <div id="pelicula{{m.id}}" class="pelicula"> 
    <table>
        <tr>
        <td><img src='{{ m.image }}' width='100px'/></td>

        <td style='padding-left: 10px;'>
        
        <h3> {{ m.title }} - Año sin importar :(</h3><hr class='inter'/>
        Cast: {{m.cast}} <br/>
        Director: {{ m.director }} <br/>
        Genero: {{ m.genre }} <br/>
        Plot: {{ m.description }} <br/>

        <br/>
        Tu Puntaje:
        <input type='radio'
               {% if voto_previo|lookup:m.id == None %} checked {% endif %}
               name='{{m.id}}_n' value='0'/> No la he visto
        {%  for i in "12345" %}
            <input type='radio'
                   {% if voto_previo|lookup:m.id != None and voto_previo|lookup:m.id == i %} checked {% endif %}
                   name='{{m.id}}_n' value='{{i}}'/> {{ i }}
        {% endfor %}
        <br/>
        La vi hace: 
        {%  for i in "1234" %}
            <input type='radio'
                   {% if dtime_previo|lookup:m.id != None and dtime_previo|lookup:m.id == i %} checked {% endif %}
                   name='{{m.id}}_t' value='{{i}}'/> {{ dtime|lookup:i }}
        {% endfor %}
        </td></tr>

    </table>
    </div>
    {% endfor %}
    <div style='float:right'><input type='submit' value='Votar y 5 m&aacute;s'></div>
    </form>
{% endblock %}
